/*
  impostazioni di stile generali
*/

html, body{
  font-size: 100%;
  font-family: sans-serif;
    background: none;
}

body{
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
  "header "
  "menu "
  "breadcrumb "
  "content "
  "footer ";
}
