/*
  animazioni
*/

@keyframes fadein{
	from {opacity: 0}
	to {opacity: 1}
}


/*
  impostazioni di stile generali
*/

*{
  margin: 0;
  padding: 0;
}
html, body{
  background: url("images/drago%20piedi%20cut.png") center left no-repeat, url("images/magoNero.png") right no-repeat;
  background-color: #000;
  background-attachment: fixed;
  font-size: 100%;
  font-family: sans-serif;
}
body{
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
  grid-template-areas:
  ". header ."
  ". menu ."
  ". breadcrumb ."
  ". content ."
  "footer footer footer";
}

/*
  impostazioni di stile header
*/
header{
  grid-area: header;
  color: #F38121;
  background-color: #1D1F21;
  text-align: center;
  padding: 1em;
  padding-top: 0.8em;
}
header h1{
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10em;
  text-indent: -9999em;
  background-size: 18%;
}
header h2{
  font-size: 1.5em;
  margin-top: 0.5em;
}

/*
  impostazoni di stile navigazione
*/

#menu{
  grid-area: menu;
  background-color: #1D1F21;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

#menu li{
  display: inline-block;
}

#menu li a, #disBut, #currentLink{
	padding: 0.5em 1em;
  margin: 0.2em 1em;
  font-size: 1.2em;
  background-color: #F38121;
  border: 2px solid #000;
  border-radius: 25px;
}

#menu li a:hover, #disBut:hover{
  background-color: #FFF;
  padding: 0.7em 1.2em;
  margin: 0 0.8em;
}

#menu a{
  color: #000;
  text-decoration: none;
}

#menu a:visited{
  color: #000066;
  text-decoration: none;
  background-color: #F39151;
}

#menu #nested{
	background-color:#1D1F21;
	border: 1px solid white;
	border-top:none;
	position: absolute;
	margin-left: 1em;
}

.close{
	display:none;
}

.open{
	display:block;
	animation-name: fadein;
	animation-duration: 1s;
}

#menu #nested li{
	display: block;
}

#currentNestLink{
	display: block;
	padding:0.2em 0.4em;
	margin:0.3em;
    font-size:1em;
	animation-name: fadein;
	animation-duration: 1s;
	background-color: #F38121;
	border: 2px solid #000;
	border-radius: 25px;
}

#menu #nested a{
	display: block;
	padding:0.2em 0.4em;
	margin:0.3em 0.7em;
    font-size:1em;
	animation-name: fadein;
	animation-duration: 1s;
}

#menu #nested a:hover{
	background-color: #FFF;
  padding: 0.2em 0.4em;
  margin: 0.3em 0.7em;
}


/*
  impostazioni di stile breadcrumb
*/


#breadcrumb{
  grid-area: breadcrumb;
  padding:0.2em 0em 0.2em 0.2em;
  font-size: 1em;
  color: #000;
  background-color: #F38121;
}


/*
  impostazoni di stile contenuto
*/


#content{
  grid-area: content;
  color: #FFF;
  background-color: #1D1F21;
  padding: 2em;
  font-size: 1em;
}

#content .up{
	position: relative;
  left: 80%;
  display: inline-block;
  margin-right: 10%;
}


/*
  impostazioni di stile footer
*/


footer{
  grid-area: footer;
  color: #FFF;
  background-color: #000;
  background-image: url("images/logo.png");
  background-position: 7% 20%;
  background-repeat: no-repeat;
  background-size: 15%;
  text-align: center;
  border-top: 1px solid #F38121;
}

footer dt{
  font-size: 1.3em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-weight: bold;
}

footer dd{
  font-size: 1em;
  padding-top:0.5em;
}

footer a:visited{
  color:#F38121;
}

footer a{
  color:#FFF;
}

footer p{
  display: inline;
  font-style:italic;
}

.up{
	display: inline-block;
	position: relative;
	left: 40%;
  padding: 0.5em 1em;
  margin: 1em 0.1em 0.2em 0.1em;
  font-size: 1em;
  background-color: #F38121;
  border: 2px solid #000;
  border-radius: 25px;
}

.up:hover{
  padding: 0.6em 1.1em;
  margin: 0.9em 0 0.1em 0;
  font-size: 1em;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 25px;
}

.up{
  color: #000;
  text-decoration: none;
}

.up:visited{
  color:#000;
}

.valid{
  vertical-align: middle;
  margin-left: 8em;
	margin-right: 8em;
	margin-bottom: 0.7em;
}

#valid{
  padding:4em 0em 0.2em 0em;
}

/*
  home
*/

#content a{
  color: #F38121;
}

.flexhome{
  display: flex;
  flex-direction: column;
}

.flexhome p{
  align-self: flex-end;
}

.flexhome h3{
  color: #F38121;
  margin-left: 2em;
}

#gioco img{
  float:  right;
  width: 30%;
}

#gioco p{
  float: left;
  width: 65%;
}

#gioco{
  margin: 1em;
}

#manga img{
  float:  left;
  width: 20%;
  margin-bottom: 1em;
  margin-top: 1em;
}

#manga p{
  float: right;
  width: 75%;
  margin-top: 4em;
  margin-right: 1em;
}

#anime img{
  float:  right;
  width: 20%;
  margin: 1em 1em 1em 1em;
}

#anime p{
  float: left;
  width: 75%;
  margin-top: 4em;
  margin-left: 1em;
}

#videogiochi img{
  float:  left;
  width: 20%;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1em;
}

#videogiochi p{
  float: right;
  width: 75%;
  margin-top: 4em;
  margin-right: 1em;
}

/*
  pagina banlist - inizio
*/

#banlistTitle{
  text-align: center;
  font-family: "Hanalei Fill";
  font-size: 2em;
  padding-bottom: 1em;
}

#banlistTable{
  padding-top: 1em;
  text-align: center;
  list-style-type: none;
  font-size: 1.2em;
  display:flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#banlistTable li{
	flex: 1 1 auto;
}

#banlistTable a:visited{
	color: #000;
}

#banlistTable a{
	padding:0.4em;
	margin:0.3em;
	color: #000;
  text-decoration: none;
  background-color: #F38121;
  border: 2px solid #000;
  border-radius: 25px;
  font-size:0.8em;
}

#banlistTable a:hover{
	padding:0.5em;
	margin:0.2em;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 25px;
  font-size:0.8em;
}

caption{
  margin: auto;
  font-family: "Hanalei Fill";
  font-size: 1.7em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: #FFF;
}

.bannate{
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  color: #F38121;
  padding-bottom: 1em;
}

.bannate th{
  background-color: #F38121;
  color: #000;
  font-size: 1.5em;
  padding: 0.3em;
}

.bannate td{
  border: 1px solid #FFF;
  text-align: center;
  font-size: 1.2em;
  padding: 0.3em 0.5em;
}

.mostro{
  background-color: #884111;
  color: #FFF;
}

.magia{
  background-color: #166030;
  color: #FFF;
}

.trappola{
  background-color: #91227C;
  color: #FFF;
}

.fusione{
  background-color: #6B29AE;
  color: #FFF;
}

.link{
  background-color: #0E2F90;
  color: #FFF;
}

.pendulum{
  background: linear-gradient(#884111, #166030);
  color: #FFF;
}

.xyz{
  background-color: #000;
  color: #FFF;
}

.rituale{
  background-color: #2757A5;
  color: #FFF;
}

.synchro{
  background-color: #DBDBDE;
  color: #000;
}


/*
  pagina banlist - fine
*/


/*
  pagina approfondimento main deck - inzio
*/


  #evocazioni{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "subt1 subt1"
    "evocn tevocn"
    "tevocp evocp"
    "evoct tevoct";
  }
  #amdtitle{
    text-align: center;
    font-size: 2em;
    padding: 1em 0em 0.7em 0em;
  }
  #subt1{
    grid-area: subt1;
    text-align: center;
    font-size: 1.7em;
    padding: 0em 0em 1em 0em;
  }
  #evocNormale{
    grid-area: evocn;
  }
  #tevocn{
    grid-area: tevocn;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding-bottom: 0.7em;
  }
  #tevocp{
    grid-area: tevocp;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding-bottom: 0.7em;
  }
  #evocPosizionamento{
      grid-area: evocp;
  }
  #evocTributo{
      grid-area: evoct;
  }
  #tevoct{
    grid-area: tevoct;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding-bottom: 0.7em;
  }
  #phases{
    float:left;
    padding: 0em 2em 1em 1em;
  }
  ol{
    font-size: 1.2em;
  }
  ol li {
    padding-bottom: 0.5em;
  }
  .amdTextP{
    font-size: 1.3em;
    padding: 1em 0em 0.7em 0em;
  }
  .amdSubT{
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 1em 0em;
  }
  #magieParticolari dt, #trappoleParticolari dt{
    color: #000;
    background-color: #F38121;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  #magieParticolari dd, #trappoleParticolari dd{
     border: 1px solid #F38121;
	   border-top: none;
     margin-bottom:1em;
     padding: 0.5em 0.5em 1em 0.5em;
     text-align: center;
  }
  .iconeMagia, .iconeTrappola{
    display: block;
    margin: auto;
    padding-bottom: 0.5em;
  }
/*
  pagina approfondimento main deck - fine
*/

/*
  pagina approfondimento extra deck - inzio
*/
  #aedtitle{
    text-align: center;
    font-size: 2em;
    padding: 1em 0em 0.7em 0em;
  }
  #extradeck{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    ". subt ."
    "fusione testoFusione polimerizzazione"
    ". subt1 ."
    "testoXyz testoXyz xyz"
    ". subt2 ."
    "synchro testoSynchro tuner"
    ". subt3 ."
    "link testoLink testoLink"
    ". subt4 ."
    "pendulum testoPendulum testoPendulum";
  }

  #subt{
    grid-area: subt;
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 1em 0em;
  }
  #fusione{
    grid-area: fusione;
    width: 90%;
  }
  #testoFusione{
    grid-area: testoFusione;
    font-size: 1.3em;
    padding: 1em 0.2em 0.7em 0em;
  }
  #polimerizzazione{
    grid-area: polimerizzazione;
    width: 90%;
  }


  #subt1{
    grid-area: subt1;
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 0.5em 0em;
  }
  #testoXyz{
    grid-area: testoXyz;
    font-size: 1.3em;
    padding: 1em 0.2em 0.7em 0em;
  }
  #xyz{
    grid-area: xyz;
    width: 90%;
  }


  #subt2{
    grid-area: subt2;
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 0.5em 0em;
  }
  #synchro{
    grid-area: synchro;
    width: 90%;
  }
  #testoSynchro{
    grid-area: testoSynchro;
    font-size: 1.3em;
    padding: 1em 0.2em 0.7em 0em;
  }
  #tuner{
    grid-area: tuner;
    width: 90%;
  }

  #subt3{
    grid-area: subt3;
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 0.5em 0em;
  }
  #link{
    grid-area: link;
    width: 90%;
  }
  #testoLink{
    grid-area: testoLink;
    font-size: 1.3em;
    padding: 1em 0em 0.7em 0em;
  }


  #subt4{
    grid-area: subt4;
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 0.5em 0em;
  }
  #pendulum{
    grid-area: pendulum;
    width: 90%;
  }
  #testoPendulum{
    grid-area: testoPendulum;
    font-size: 1.3em;
    padding: 1em 0em 0.7em 0em;
  }
  #spellSpeed{
    list-style: disc;
    font-size: 1.3em;
  }
  .aedTextP{
    font-size: 1.3em;
    padding: 1em 0em 0.7em 0em;
  }
  .aedSubT{
    text-align: center;
    font-size: 1.7em;
    padding:1em 0em 0.5em 0em;
  }


/*
  pagina approfondimento extra deck- fine
*/


/*
pagina regole base - inizio
*/

.immagine
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%
}


#content h1, #content h2, #content h3
{
    font-family: "Hanalei Fill";
    text-align: center;
    margin: 1em;
    color: #F38121;
}

#content ul{
    margin-top: 1em;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1em;
    list-style-type: circle;
}

#content ol{
    margin-top: 1em;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1em;
}
/*
pagina regole base - fine
*/


/*
pagina esempi - inizo
*/
.esImg{
  display: block;
	margin: auto;
	width:65%;
	padding: 1em 0em 1em 0em;
}
.imgList{
	display: block;
	margin: auto;
	width:50%;
	padding: 0.5em 0em 0.5em 0em;
}
.listEsempi{
	list-style: lower-alpha;
}
/*
pagina esempi - fine
*/

/*
pagina strumenti
*/

.contenitoreStrumenti{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.invisNav{
	width:1px;
	height:1px;
	overflow:hidden;
	position:absolute;
	text-indent:-9999em;
}

.player{
	display:block;
	flex-basis: 48%;
	text-align: center;
	border: 5px solid #F38121;
	padding-bottom: 1em;
	background-color: #2B2D2F;
}

.player > p, .tknSctn{
	margin-top: 0.3em;
}

.errBox{
	color: red;
}

.commonBtns{
	margin-top: 2em;
}

.instrBtn{
	background-color: #F38121;
	border: 2px solid #000;
	border-radius: 25px;
	padding: 0.2em 0.3em;
}

.instrBtn:hover{
	background-color: #FFF;
}

.instrBtn:active{
	color: #D27603;
}

.instrBtn.smlBtn{
	font-size:1.2em;
	font-family: monospace;
	padding: 0 0.2em;
}

#d2{
	font-size:1.2em;
	font-family: monospace;
	width:3em;
	margin-left:0.2em;
}

#d6{
	margin-right:0.2em;
	margin-left:0.2em;
}

/*
	pagine di errore
*/

.contenitoreErrori{
	display: flex;
	flex-wrap: wrap;
}

.contenitoreErrori > h2{
	flex-basis:100%;
}

.contenitoreErrori > p{
	flex-basis:50%;
}

#noDb{
	min-height: 400px;
	text-indent: -9999em;
	background: url("images/bucoNero.jpg") no-repeat center;
}

#noJs{
	min-height: 400px;
	text-indent: -9999em;
	background: url("images/angeloO7.jpg") no-repeat center;
}

/*
	STILE FORUM - inizio
*/

.notactv{
	border:none;
	background-color: inherit;
	width: 50px;
 	height: 50px;
 	background-image: url('images/heart.png');
 	background-repeat: no-repeat;
 	background-position: center center;
}

.actv{
	border:none;
	background-color: inherit;
	width: 50px;
 	height: 50px;
 	background-image: url('images/heart_active.png');
 	background-repeat: no-repeat;
 	background-position: center center;
}
.repnotactv{
	border:none;
	background-color: inherit;
	width: 50px;
 	height: 50px;
 	background-image: url('images/report.png');
 	background-repeat: no-repeat;
 	background-position: center center;
}

.repactv{
	border:none;
	background-color: inherit;
	width: 50px;
 	height: 50px;
 	background-image: url('images/report_active.png');
 	background-repeat: no-repeat;
 	background-position: center center;
}

.form_commenti{
	display: inline;
	justify-content: center;
	align-content: center;
}
.commenti{
	border:none;
	background-color: inherit;
	width: 50px;
 	height: 50px;
 	background-image: url('images/commenti_button.png');
 	background-repeat: no-repeat;
 	background-position: center center;
}

.numeroLike{
	display: inline-flex;
	align-items: center;
}

.cont_bottoni{
	display: flex;
	border:4px solid #F38121;
	border-top: none;
	background-color: #2B2D2F;
}

.usrname{
	color:#F38121;
	font-size: 1.2em;
	font-weight: bold;
}

.argomento{
	padding:0em 1em 0em 0.5em;
}

.datetime{
	display: inline-block;
	font-size: 0.8em;
	font-weight: lighter;
	padding-left:0.5em;
}

.post{
	background-color: #2B2D2F;
	font-size: 1.1em;
	border:4px solid #F38121;
	border-top: 2px solid #F38121;
	border-bottom: 2px solid #F38121;
	padding: 0.7em 0.5em 0.7em 0.5em;
}

.posthead{
	background-color: #2B2D2F;
	border: 4px solid #F38121;
	border-bottom: none;
	margin-top: 2em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

#next{
	border:none;
	background-color: inherit;
	width: 50px;
 	height: 50px;
 	background-image: url('images/successivo_bottone.png');
 	background-repeat: no-repeat;
 	background-position: center center;
}

#prev{
	border:none;
	background-color: inherit;
	width: 50px;
	height: 50px;
	background-image: url('images/precedente_bottone.png');
	background-repeat: no-repeat;
	background-position: center center;
}

#piepagina{
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

#numpag{
	display: inline-flex;
	align-items: center;
}

#creacommento{
	padding-top:2em;
}

#boxcommento{
	display: inline;
	height: 12.5em;
	width: 70em;
	padding: 0.5em;
}

#agg{
	margin-left: 1em;
}

#lc{
	margin-left: 1em;
}

.commenthead{
	background-color: #2B2D2F;
	font-size: 1.1em;
	border:4px solid #F38121;
	padding: 0.7em 0.5em 0.7em 0.5em;
	border-radius: 25px;
	margin-top: 1em;
}

/*
	STILE FORUM -fine
*/


/*
	Caselle di input
*/

.inputField{
	padding: 0.2em;
	color: white;
	background-color: #2B2D2F;
	border: 2px solid #F38121;
	border-radius: 25px;
}

.inputForm{
	margin-bottom: 1em;
	display:block;
	text-align:left;
}
.inputForm input, .inputForm textarea{
	display: block;
	margin-bottom: 1em;
}


#argomento{
	height: 1.2em;
	width: 10em;
}

#contenuto{
	height: 30em;
	width: 50em;
	padding: 0.5em;
}
