/*
  impostazioni di stile generali
*/
*{
  margin: 0;
  padding: 0;
}
html, body{
  background: url("images/drago_bianco_occhi_blu_alt_mirr.png") left no-repeat, url("images/magoNero.png") right no-repeat;
  background-color: #000;
  background-attachment: fixed;
  font-size: 100%;
  font-family: sans-serif;
}
body{
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
  grid-template-areas:
  ". header ."
  ". menu ."
  ". breadcrumb ."
  ". content ."
  "footer footer footer";
}



/*
  impostazioni di stile header
*/
header{
  grid-area: header;
  color: #F38121;
  background-color: #1D1F21;
  text-align: center;
  padding: 1em;
  padding-top: 0.8em;
}
header h1{
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10em;
  text-indent: -9999em;
  background-size: 18%;
}
header h2{
  font-size: 1.5em;
  margin-top: 0.5em;
}


/*
  impostazoni di stile navigazione
*/
#menu{
  grid-area: menu;
  background-color: #1D1F21;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}


#menu li{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.2em 1em;
  font-size: 1.2em;
  background-color: #F38121;
  border: 2px solid #000;
  border-radius: 25px;
}
#menu li:hover{
  background-color: #FFF;
  padding: 0.7em 1.2em;
  margin: 0 0.8em;
}
#menu a{
  color: #000;
  text-decoration: none;
}
#menu a:visited{
  color: #003B54;
  text-decoration: none;
}

.nested{
	margin-top: 1.2em;
	display:none;
	position:absolute;
}

.nested a{
	display:inline;
	padding:0.2em;
	margin:0.3em;
  background-color: #F38121;
  border: 2px solid #000;
  border-radius: 25px;
  font-size:0.8em;
}


.nestHead:hover .nested{
	display:block;
}



/*
  impostazioni di stile breadcrumb
*/
#breadcrumb{
  grid-area: breadcrumb;
  padding:0.2em 0em 0.2em 0.2em;
  font-size: 1em;
  color: #000;
  background-color: #F38121;
}



/*
  impostazoni di stile contenuto
*/
#content{
  grid-area: content;
  color: #FFF;
  background-color: #1D1F21;
  padding: 2em;
  font-size: 1em;
}



/*
  impostazioni di stile footer
*/
footer{
  grid-area: footer;
  color: #FFF;
  background-color: #000;
  background-image: url("images/logo.png");
  background-position: 7% 20%;
  background-repeat: no-repeat;
  background-size: 15%;
  text-align: center;
  border-top: 1px solid #F38121;

}
footer dt{
  font-size: 1.3em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-weight: bold;
}
footer dd{
  font-size: 1em;
  padding-top:0.5em;
}
#up{
  display: block;
  text-align: right;
}
footer a:visited{
  color:#F38121;
}
footer a{
  color:#FFF;
}
footer p{
  display: inline;
  font-style:italic;
}
.valid{
  vertical-align: middle;
  margin-left: 8em;
	margin-right: 8em;
	margin-bottom: 0.7em;
}
#valid{
  padding:4em 0em 0.2em 0em;
}
